<div class="fondo-animado"></div>
<!-- ENCABEZADO FIJO -->
<div class="dialog-encabezado">
  <h2 mat-dialog-title>REGISTRO</h2>
</div>
<!-- CONTENIDO SCROLLABLE -->
<div class="dialog-scrollable">
  <form [formGroup]="formularioLogin" (ngSubmit)="confirmar()" class="formulario-contenedor">
    <!-- INPUT NOMBRE -->
    <mat-form-field appearance="outline">
      <mat-label>NOMBRE</mat-label>
      <mat-icon matPrefix>account_circle</mat-icon>
      <input matInput type="text" formControlName="nombre" placeholder="ROBERTO" required>
      <!-- MI PLANTILLA -->
      <ng-container *ngTemplateOutlet="validaCampo; context: { campo: 'nombre' }"></ng-container>
    </mat-form-field>

    <!-- INPUT APELLIDO -->
    <mat-form-field appearance="outline">
      <mat-label>APELLIDO</mat-label>
      <mat-icon matPrefix>badge</mat-icon>
      <input matInput type="text" formControlName="apellido" placeholder="PEREZ" required>
      <!-- MI PLANTILLA -->
      <ng-container *ngTemplateOutlet="validaCampo; context: { campo: 'apellido' }"></ng-container>
    </mat-form-field>

    <!-- INPUT EMAIL -->
    <mat-form-field appearance="outline">
      <mat-label>EMAIL</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input matInput type="text" formControlName="email" placeholder="nombre@gmail.com" required>
      <!-- MI PLANTILLA -->
      <ng-container *ngTemplateOutlet="validaCampo; context: { campo: 'email' }"></ng-container>
    </mat-form-field>

    <!-- INPUT CONTRASENA-->
    <mat-form-field appearance="outline">
      <mat-label>CONTRASEÑA</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput [type]="hide() ? 'password' : 'text'" formControlName="contrasena" placeholder="••••••••"
        required>
      <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <!-- MI PLANTILLA -->
      <ng-container *ngTemplateOutlet="validaCampo; context: { campo: 'contrasena' }"></ng-container>
    </mat-form-field>

    <!-- BOTONES FINALES -->
    <button mat-raised-button color="primary" type="submit" [disabled]="formularioLogin.invalid">
      Confirmar
    </button>
    <button mat-button type="button" (click)="cancelar()">
      Cancelar
    </button>

    <!-- TEXTO DE NAVEGACION ENTRE REGISTRO Y LOGIN -->
    <p class="switch-form-text">
      ¿Ya tienes una cuenta?
      <a class="link-switch" (click)="irALogin()">Iniciar sesión</a>
    </p>
  </form>

  <!-- PLANTILLA REUTILIZABLE -->
  <ng-template #validaCampo let-campo="campo">
    @if (getError(campo)) {
    <mat-error>{{ getError(campo) }}</mat-error>
    } @else if (formularioLogin.get(campo)?.valid) {
    <mat-icon color="accent" class="icono-ok">check_circle</mat-icon>
    }
  </ng-template>
</div>