<!-- CONTENEDOR CENTRAL -->
<div class="bg-gray-50 px-6 flex" style="height: calc(100vh - 90px);">
  <div class="m-auto w-full max-w-[500px] bg-white rounded-xl shadow-xl overflow-hidden" [@fadeInUp]>
    <!-- ENCABEZADO -->
    <div class="bg-[#191919] text-white px-6 py-4 rounded-t-xl text-center">
      <h2 class="text-2xl font-bold tracking-wide">REGISTRO</h2>
    </div>
    <!-- CONTENIDO -->
    <div class="p-6 space-y-6">
      <!-- ACCESO CON PROVEEDORES -->
      <div class="flex flex-col items-center space-y-4">
        <p class="text-sm text-gray-600">Registrate rápidamente con:</p>
        <app-boton-proveedor></app-boton-proveedor>
        <div class="relative w-full text-center">
          <hr
            class="border-gray-300 my-4"
          >
          <span class="absolute top-[-12px] left-1/2 transform -translate-x-1/2 bg-white px-2 text-sm text-gray-500">
            o con tu cuenta
          </span>
        </div>
      </div>
      <!-- FORMULARIO -->
      <form [formGroup]="formularioUsuario" (ngSubmit)="confirmar()" class="space-y-6">
        <app-campos-formulario [camposFormulario]="camposFormulario" [camposValidacion]="camposValidacion" [formulario]="formularioUsuario">
        </app-campos-formulario>
        <!-- BOTONES -->
        <div class="flex flex-col gap-3 cursor-pointer">
          <button type="button" (click)="confirmar()" [ngClass]="{
            'bg-[#191919] hover:bg-black text-white': formularioUsuario.valid || cargando,
            'bg-[#5e5e5e] text-gray-300': formularioUsuario.invalid || cargando
          }" class="py-2 px-4 rounded-md transition duration-300 w-full cursor-pointer">
            Confirmar
          </button>
          @if (!cargando) {
    Confirmar
  } @else {
          <mat-progress-spinner diameter="20" mode="indeterminate" color="accent"></mat-progress-spinner>
          }
        </div>
        <!-- YA TENÉS CUENTA -->
        <div class="text-center mt-6">
          <p class="text-sm text-gray-600">¿Ya tienes cuenta?
            <a routerLink="/iniciar_sesion" class="text-black hover:underline font-medium ml-1">
              INICIAR SESIÓN
            </a></p>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Overlay de carga -->
@if (cargando) {
<div class="fixed inset-0 z-50 bg-white bg-opacity-80 flex flex-col items-center justify-center">
  <mat-progress-spinner diameter="80" mode="indeterminate" color="primary"></mat-progress-spinner>
  <p class="mt-4 text-gray-700 font-medium text-lg">Registrando usuario...</p>
</div>
}
