<div class="flex flex-col items-center justify-center px-4 min-h-[calc(100vh-297px)]" [@fadeSlideIn]>

  <!-- Mostrar mensaje si NO está logueado -->
  @if (!estaLogueado) {
  <div class="max-w-xl text-center">
    <i-lucide name="lock" class="w-8 h-8 text-[#191919] mb-2 mx-auto"></i-lucide>
    <p class="text-lg font-medium text-[#191919]">
      Necesitás iniciar sesión para chatear en vivo.
    </p>
    <button (click)="irALogin()"
      class="mt-4 flex items-center gap-2 bg-[#191919] hover:bg-black text-white px-4 py-2 rounded-md text-sm transition active:scale-[0.98] cursor-pointer mx-auto">
      <i-lucide name="user" class="w-4 h-4"></i-lucide>
      <span>Iniciar sesión</span>
    </button>
  </div>
  }

  <!-- Mostrar el chat si está logueado -->
  @if (estaLogueado) {
  <!-- Encabezado -->
  <div class="flex items-center gap-2 mb-6">
    <i-lucide name="message-circle" class="w-6 h-6 text-[#191919]"></i-lucide>
    <h2 class="text-xl font-bold text-[#191919] tracking-wide">Chat en tiempo real</h2>
  </div>

  <!-- Chat -->
  <div class="border border-gray-300 rounded-md p-4 h-[300px] overflow-y-auto bg-white space-y-2 w-full max-w-2xl">
    @for (msg of mensajes; track msg.text) {
    <div class="flex items-center gap-2 w-fit max-w-full bg-[#f4f4f4] px-4 py-2 rounded-md text-sm text-gray-800">
      <!-- <span class="font-semibold text-[#191919] capitalize">{{ msg.nombre }}:</span> -->
      <span class="font-semibold text-[#191919] capitalize">{{ msg.email }}:</span>
      <span class="font-semibold text-[#191919] capitalize">{{ msg.rol }}:</span>
      <span class="text-gray-700">{{ msg.text }}</span>
    </div>
    }

    @empty {
    <p class="text-sm text-gray-500">Todavía no hay mensajes.</p>
    }
  </div>

  <!-- Escribir mensaje -->
  <div class="mt-4 flex gap-2 w-full max-w-2xl">
    <!-- Enviar al presionar Enter -->
    <input [(ngModel)]="nuevoMensaje" (keydown.enter)="enviarMensaje()" type="text" placeholder="Escribí tu mensaje..."
      class="flex-1 border border-gray-300 rounded-md px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-black">
    <button (click)="enviarMensaje()"
      class="bg-[#191919] hover:bg-black text-white px-4 py-2 rounded-md text-sm transition active:scale-[0.98] cursor-pointer">
      Enviar
    </button>
  </div>
  }
</div>