<!-- CONTENEDOR CENTRAL -->
<div class="bg-gray-50 px-6 flex" style="height: calc(100vh - 100px);">
  <div class="m-auto w-full max-w-[500px] bg-white rounded-xl shadow-xl overflow-hidden" [@fadeInUp]>

    <!-- ENCABEZADO -->
    <div class="bg-[#191919] text-white px-6 py-4 rounded-t-xl text-center">
      <h2 class="text-2xl font-bold tracking-wide">
        {{ esEdicion ? 'MODIFICAR PRODUCTO' : 'ALTA PRODUCTO' }}
      </h2>
    </div>

    <!-- FORMULARIO -->
    <div class="p-6 space-y-6">
      <form [formGroup]="formularioProducto" (ngSubmit)="registrar()" class="space-y-6">

        <!-- CAMPOS DEL FORMULARIO -->
        <app-campos-formulario [camposFormulario]="camposFormulario" [camposValidacion]="camposValidacion"
          [formulario]="formularioProducto">
        </app-campos-formulario>

        <!-- BOTONES -->
        <div class="flex flex-col gap-3">
          <button type="submit" [disabled]="formularioProducto.invalid" [ngClass]="{
            'bg-[#191919] hover:bg-black text-white': formularioProducto.valid,
            'bg-[#5e5e5e] text-gray-300': formularioProducto.invalid
          }" class="py-2 px-4 rounded-md transition duration-300 w-full cursor-pointer">
            {{ esEdicion ? 'MODIFICAR' : 'AGREGAR' }}
          </button>

          <button type="button" (click)="cancelar()"
            class="py-2 px-4 rounded-md border border-gray-300 text-gray-700 hover:bg-gray-100 transition duration-300 w-full cursor-pointer">
            Cancelar
          </button>

          <!-- Botón para eliminar producto -->
          <button *ngIf="esEdicion" type="button" (click)="eliminar()"
            class="py-2 px-4 rounded-md border border-red-300 text-red-700 hover:bg-red-50 transition duration-300 w-full cursor-pointer">
            Eliminar producto
          </button>
        </div>
      </form>
    </div>
  </div>
</div>