<form [formGroup]="formularioUsuario" (ngSubmit)="registrar()">
  <!-- INPUT EMAIL -->
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" placeholder="carl@gmail.com" required>
    @if (formularioUsuario.get('email')?.hasError('required')) {
    <mat-error>El correo no puede quedar vacío.</mat-error>
    }
    @if (formularioUsuario.get('email')?.hasError('email')) {
    <mat-error>Introduce un correo válido.</mat-error>
    }
  </mat-form-field>
  <!-- INPUT PASSWORD -->
  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput [type]="mostrarPassword ? 'text' : 'password'" formControlName="password" required>
    <button mat-icon-button matSuffix (click)="mostrarPassword = !mostrarPassword">
      <mat-icon>{{ mostrarPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (formularioUsuario.get('password')?.hasError('required')) {
    <mat-error>La contraseña es obligatoria.</mat-error>
    }
  </mat-form-field>
  <!-- BOTONES CONFIRMAR Y CANCELAR -->
  <button mat-raised-button color="primary" type="submit" [disabled]="formularioUsuario.invalid">
    Confirmar
  </button>
  <button mat-button type="button" (click)="cancelar()">
    Cancelar
  </button>
</form>