<nav class="navbar">
  <ul>
    <p>{{ email }}</p>
    <!-- inicia submenu -->
    <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <a routerLink="/login">
          <span>hogar</span>
        </a>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesion</span>
      </button>
    </mat-menu>
    <!-- finaliza submenu -->
  </ul>
</nav>