.full-width-table {
  width: 100%;
  overflow-x: auto;
  display: block;
}

.img-tabla {
  max-width: 60px;
  height: auto;
}

@media (max-width: 768px) {

  .mat-header-cell,
  .mat-cell {
    font-size: 13px;
    padding: 6px;
  }

  .img-tabla {
    max-width: 40px;
  }

  mat-form-field {
    width: 100%;
  }
}

.filtro-responsive {
  width: 100%;
  margin-bottom: 1rem;
}